.events{
    width: 100%;
    height: 100%;
    border: 1px solid lightgray;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    background-color: white;
}
.events h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.pid{
    color: dodgerblue;
}